<p>
  As <a href="http://www.badscience.net/2007/12/a-rather-long-build-up-to-one-punchline/">Ben Goldacre wrote</a>:
</p>
<blockquote>
  <p>
    The Daily Mail, as you know, is engaged in a philosophical project of
    mythic proportions: for many years now it has diligently been sifting
    through all the inanimate objects in the world, soberly dividing them into
    the ones which either cause – or cure – cancer.
  </p>
</blockquote>
<p>
  The Daily Mail frequently brings us news of which objects have been
  discovered to <strong>cause</strong> cancer, and which have been shown to
  <strong>prevent</strong> it. In some cases, they do both.
</p>
<p>
  In order to make sense of this vast resource of clinical information, I’ve
  scraped the Daily Mail’s website for articles mentioning cancer. To distil
  this wisdom down into an easily comprehensible form, though, I need some help.
</p>
<p>
  You can assist me by classifying articles, saying
</p>
<ul>
  <li>
    What the article refers to, e.g. <em>wine</em> or <em>Facebook</em>.
  </li>
  <li>
    Whether the thing in question <strong>causes</strong> or <strong>prevents</strong> cancer.
  </li>
</ul>
<p>
  I’ll then collate your research into a summary so that we
  all know how best to live our lives.
</p>
<% if @percent_complete < 100 %>
  <p>
    <%= link_to "Get started!", new_vote_path %>
  </p>
<% else %>
  <p>
    We’ve done it! <%= link_to "See the results.", results_path %> You can still <%= link_to "try voting", new_vote_path %> if you’re interested in seeing how it worked.
  </p>
<% end %>
