<h2>All done</h2>

<p>Thanks for all your efforts! We've now classifed all the articles. You can <%= link_to "browse the interim results", "/stats" %>, and I'll make the full dataset available shortly.</p>

