<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Kill or cure?</title>
    <%= stylesheet_link_tag "reset-min", "basic", "screen" %>
  </head>
  <body>
    <div id="header">
      <h1><%= link_to "Kill or cure?", homepage_path %></h1>
      <p>
        Help to make sense of the Daily Mail’s ongoing effort to classify every
        inanimate object into those that cause cancer and those that prevent
        it.
      </p>
    </div>
    <div id="main">
      <%= yield %>
    </div>
    <div id="footer">
      <p>Made by <a href="http://po-ru.com/">Paul Battley</a>.</p>
    </div>
  </body>
</html>
